<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>965897364261-f5219n1cve0uqsrpdtvfqamojrmkqirt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.965897364261-f5219n1cve0uqsrpdtvfqamojrmkqirt</string>
	<key>API_KEY</key>
	<string>AIzaSyC9fPp6o3K8_t09626R2IbZ8H-l8wwVyA0</string>
	<key>GCM_SENDER_ID</key>
	<string>965897364261</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.twitter.pk.flutterTwitterClone</string>
	<key>PROJECT_ID</key>
	<string>twitter-clone-43c3e</string>
	<key>STORAGE_BUCKET</key>
	<string>twitter-clone-43c3e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:965897364261:ios:6c38371d8d354b318830cc</string>
</dict>
</plist>